<h1><%= _('Edit Page') %></h1>
<p><%= link_to 'View All Pages', admin_pages_path -%> | <%= link_to 'Preview This Page', page_path(@content_page), {:id => 'preview-page', :target => "_blank"} -%></p>
<%= render :partial => 'form', :locals => { :edit => true,
																						:url => admin_page_path(@content_page.id),
																						:html => { :method => :put },
																						:options => { :hide_required => true } } %>