<h1><%= _('Edit Post') %></h1>

<div class="activity_box">
	<h2><%= _('Edit Post') %></h2>
	<% custom_form_for @news_item, :url => user_blog_path(@user, @news_item), :html => { :method => :put, :multipart => true, :class => "box no_top" } do |f| -%>
		<%= render :partial => 'news/form', :locals => {:f => f } %>
	<% end %>
</div>
