<div class="mini-bio">
	<div class="left"><%= icon user, :small %></div>
	<div class="left">
		<p><%= link_to h(user.full_name), profile_path(user) -%></p>
	</div>
  
	<div class="clear"></div>
</div>