Capfile
code_update.tar.gz
config/database.yml
config/deploy.rb
config/environments/production.rb
config/global_config.yml
config/initializers/mail.rb
config/mongrel_cluster.yml
config/morph_deploy.rb
config/starling.yml
config/newrelic.yml
config/deploy_old.rb
db/*.db
db/*.sqlite3
.DS_Store
index
public/uploads
public/logos
public/system
log/*
nbproject
public/javascripts/less_routes.js
public/system
public/javascripts/all.js
public/stylesheets/all.css
public/stylesheets/custom.css
public/favicon.ico
test/public/system
tmp
vendor/rails
vendor/plugins/newrelic_rpm
.loadpath
.project
.settings/org.eclipse.core.resources.prefs