<h1><%= @entry.title %></h1>
<iframe src='http://docs.google.com/EmbedSlideshow?docid=<%= @entry.google_doc_id %>&amp;size=l' 
    frameborder='0' width='700' height='559' style='float:center;'>
</iframe>
