<span class='link-button'><%= link_to _('Return to %{group_name}' % {:group_name => @group.name}), group_path(@group) %></span>
<h1><%= @entry.title %></h1>
<%= @html %>
<style type="text/css">body{background:#e9efd5;margin:0px auto;padding:0px;}</style>