body{font:normal 13px/20px "Verdana",Arial,Helvetica,sans-serif;background:#FFF url(/images/backtest2a.jpg);background-repeat:no-repeat;background-position:top;color:#454545;margin:0px auto;text-align:center;}
#wrapper{width:960px;margin:0px auto;padding-left:0px;border:dotted 1px #ccc;}
/*------------------ @globals ------------------*/
#site{position:relative;}
#twb{position:relative;background:#333399 url(/images/backtest2c.gif) top center no-repeat;}
#twbfront{width:100%;height:100%;position:relative;}
.container{width:960px;margin:0 auto;}
a{color:#333399;}
a.blue{color:#19655b;}
a:hover{text-decoration:none;}
p{padding-bottom:15px;}
p a,
ul.bluelinks li a{padding:0;background:none;color:#333399;text-decoration:none;}
p a:hover,
ul.bluelinks li a:hover{color:#333;}
h1{font-size:28px;letter-spacing:-1.2pt;color:#000;font-weight:bold;margin:0px 0 10px 0;}
h2{color:#222;font-size:20px;font-weight:normal;margin:0 0 10px;}
h3{font-size:13px;margin-bottom:10px;}
h4,h4 a{text-align:left;color:#FFFFFF;font-size:16px;font-weight:700;line-height:18px;padding-bottom:10px;padding-right:10px;padding-top:10px;text-decoration:none;}
h5,
h5 a,h5 a:hover{font-size:16px;line-height:20px;color:#FFF;font-weight:normal;padding-bottom:10px;padding-top:0px;text-decoration:none;}
h6,
h6 a,h6 a:hover{font-size:13px;line-height:16px;color:#FFF;font-weight:600;padding-bottom:10px;padding-top:10px;padding-right:10px;text-decoration:none;}
#titlesH7{font-size:17px;line-height:15px;color:#111;font-weight:700;padding-bottom:5px;padding-top:0px;}
#titlesH9{font-size:18px;line-height:22px;color:#000099;font-weight:bold;padding-bottom:10px;padding-top:1px;text-align:center;}
#titlesH9 a{text-decoration:none;padding-top:0;}
#titlesH9.nopad{padding-top:0;}
p{padding-bottom:10px;}
ul{padding-bottom:10px;}
ul li{background:url(/images/bullet.gif) no-repeat 0 6px;padding-left:20px;}
ul li a{color:#454545;}
ul li a:hover{color:#333399;}
.clearboth{clear:both;}
.centered{text-align:center;}
/*------------------ @header (h1,nav,signin,splash) ------------------*/
#header2{height:305px;}
#header2 h1{float:left;position:relative;}
#header2 h1,
#header2 h1 a{width:260px;height:77px;display:block;}
#header2 h1 a{background:url(/images/twb.png) no-repeat 0 0;text-indent:-9999px;}
#header2 h2{clear:left;height:25px;float:left;padding:10px;background:url(/images/h7_blue_trans.png) repeat 0 0;position:relative;margin-top:30px;}
#header2 h2 span{display:block;height:25px;text-indent:-9999px;}
#header{height:auto;padding-bottom:40px;}
#header h1{float:left;position:relative;}
#header h1,
#header h1 a{width:260px;height:77px;display:block;}
#header h1 a{background:url(/images/twb.png) no-repeat 0 0;text-indent:-9999px;}
/*-- nav --*/
ul#nav{float:right;height:50px;background:url(/images/nav_separator.png) no-repeat 0 0;padding-left:2px;margin:0;z-index:1000;}
ul#nav li,
ul#nav li a{display:block;float:left;line-height:12px;}
ul#nav li{background:url(/images/nav_separator.png) no-repeat right 0;padding-left:0;padding-right:2px;height:50px;position:relative;}
ul#nav li a{/* text-transform:uppercase;*/
text-decoration:none;font-weight:bold;color:#333399;padding:19px 15px 19px 15px;background:none;}
ul#nav li.active a{color:#3c9b8d;}
/*-- Dropdowns --*/
ul#nav li .dropdown{text-align:left;display:none;position:absolute;z-index:10050;width:208px;top:50px;left:-4px;overflow:hidden;clear:left;background:url(/images/nav_dropdown_grad.png) no-repeat 2px 0;padding-top:1px;}
ul#nav li ul{width:100%;background:url(/images/nav_dropdown_li.png) repeat-y 0 0;overflow:hidden;margin:0;padding:0;}
ul#nav li:hover .dropdown,
ul#nav li.over .dropdown{display:block;}
/* add styling? */
ul#nav li:hover a,
ul#nav li.over a{color:#353535;}
ul#nav li:hover ul li a,
ul#nav li.over ul li a{color:#454545;}
/* clear dropdowns */
ul#nav li ul li,
ul#nav li ul li a{float:none;height:1%;background:none;margin:0;padding:0;text-transform:none;font-weight:normal;}
ul#nav li ul li{padding:4px 0 6px 8px;margin:0 5px 0 4px;background:url(/images/nav_dropdown_sep.gif) repeat-x 0 bottom;}
ul#nav li ul li.last{background:none;padding-bottom:4px;}
ul#nav li ul li a{font-size:12px;line-height:12px;padding:5px 7px 6px 7px;color:#454545;background:url(/images/nav_dropdown_hover.gif) no-repeat left -23px;}
ul#nav li ul li a:hover{background-position:left center;color:#fff;}
ul#nav li .dropdown .bottom{background:url(/images/nav_dropdown_bottom.png) no-repeat left top;height:11px;line-height:1px;}
/*-- signin form --*/
#signin{background:transparent url(/images/signin_bg.png) no-repeat scroll 0 0;float:right;height:32px;margin-top:29px;padding-right:125px;padding-top:0;width:466px;}
#signin fieldset{border:0 none;margin:0 1px;padding:2px;}
#signin legend{display:none;}
#signin div{background:transparent url(/images/rounded_field.gif) no-repeat scroll 0 0;float:left;height:18px;margin:-26px 0 5px;padding:2px;width:190px;}
#signin p{border:0 none;padding:0;}
#signin .buttons{float:left;overflow:hidden;padding-bottom:0;padding-left:61px;padding-top:0;width:100%;}
#signin label{color:#656565;display:block;float:left;font-size:11px;font-weight:normal;line-height:18px;padding:0 0 0 5px;text-align:left;width:65px;}
#signin input#username,#signin input#password{background:transparent none repeat scroll 0 0;border:0 none;float:left;font-family:"Verdana",Helvetica,Arial,sans-serif;font-size:12px;line-height:18px;margin-top:1px;padding:0;width:113px;}
#signin input#password{font-weight:bold;}
#signin .signin_button{border:0 none;cursor:pointer;display:block;float:right;height:27px;margin:0 5px 0 0;padding:0;text-indent:-9999px;width:61px;}
#signin #signin_button{background:transparent url(/images/button_signin.gif) no-repeat scroll 0 0;}
#signin #register_button{background:transparent url(/images/button_register.gif) no-repeat scroll 0 0;margin-left:1px;}
/*----------------search------------*/
#log-out{position:relative;padding-left:475px;text-align:right;width:350px;right:inherit;top:24px;}
#log-out a{color:#333399;font-weight:bold;font-size:10px;margin-left:6px;}
#search{background:transparent url(/images/search_bgb.png) no-repeat scroll 0 0;height:32px;left:59px;margin-left:306px;margin-top:56px;padding-right:0;padding-top:0;position:absolute;top:-1px;width:562px;z-index:1;}
#search fieldset{border:0 none;margin:0 6px 0 280px;padding:1px 2px;}
#search legend{display:none;}
#search div{background:transparent url(/images/rounded_field.gif) no-repeat scroll 0 0;float:left;height:18px;margin:-26px 0 5px;padding:2px;width:190px;}
#search p{border:0 none;padding:0;}
#search .buttons{float:left;margin-left:-3px;overflow:hidden;padding-bottom:0;padding-left:0;padding-top:0;width:100%;}
#search label{color:#656565;display:block;float:left;font-size:11px;font-weight:normal;line-height:18px;padding:0 0 0 2px;text-align:left;width:45px;}
#search input#in_search{background:transparent none repeat scroll 0 0;border:0 none;float:left;font-family:"Verdana",Helvetica,Arial,sans-serif;font-size:12px;line-height:18px;margin-top:1px;padding:0;width:113px;}
#search .search_button{border:0 none;cursor:pointer;display:block;float:right;height:27px;margin:1px 36px 0 0px;padding:0;text-indent:-9999px;width:30px;}
#search #search_button{background:transparent url(/images/button_search.gif) no-repeat scroll 0 0;}
#translation{height:22px;left:63px;margin-left:328px;margin-top:61px;padding-right:0;padding-top:0;position:absolute;top:2px;width:234px;z-index:1;}
#translation img{margin:0 2px 2px;}
#quote{color:#000000;float:right;font-size:29px;font-weight:800;left:-58px;line-height:34px;margin:0 200px;overflow:hidden;padding-bottom:10px;padding-top:15px;position:absolute;text-align:right;top:117px;width:760px;z-index:20;}
#quote span{color:#FFCC33;}
#donate{height:85px;left:32px;margin-left:399px;margin-top:448px;padding:0px 0 0;position:absolute;top:-50px;width:202px;visibility:hidden;}
#highlight{height:145px;left:291px;margin-left:280px;margin-top:324px;padding:0;position:absolute;top:5px;width:260px;z-index:3;}
#buttontext{height:70px;left:297px;margin-left:153px;margin-top:400px;padding:0px 0 0;position:absolute;top:4px;width:200px;z-index:3;visibility:hidden;}
#lilman{height:117px;left:285px;margin-left:240px;margin-top:460px;padding:44px 0 0;position:absolute;top:-189px;width:435px;z-index:2;}
/*------------------ @landscape ------------------*/
#landscape{width:100%;height:200px;background:url(/images/mid-spacing.gif) repeat-x 0 0;}
.landscape_white{background:url(/images/landscape_whiteb.gif) repeat-x 0 0;height:36px;}
#land_white_top{background-position:0 0;}
#land_white_bottom{background-position:0 -36px;}
#midsect{background:url(/images/mid_white_spacing.gif) repeat 0 0;width:100%;/*overflow:hidden;*/
height:245px;padding:20px 0 0px 0;color:#333;}
#midsect p a{color:#333;text-decoration:none;padding:0 2px;}
#midsect p a:hover{background:#FFF;}
/*------------------ @helping ------------------*/
.col450{float:left;width:450px;overflow:hidden;height:110px;text-align:center;}
.padright{padding-right:60px;}
.midtag{float:left;text-align:center;width:960px;overflow:hidden;}
img.icon{width:48px;height:48px;float:left;clear:left;margin-right:20px;margin-bottom:70px;}
/*------------------ @main ------------------*/
.activity_box{border-top:2px solid #333399;}
.activity_box{clear:both;margin:5px 0 0px;padding:5px 0 0;}
#content{background:#FFF;width:860px;padding-bottom:20px;text-align:left;margin-left:auto;margin-right:auto;min-height:600px;height:auto !important;height:600px;}
#main{background:#FFF;width:100%;overflow:hidden;padding:0px 0;}
#main2{background:#FFF url(/images/mainb.gif) repeat 0 0;width:100%;overflow:hidden;/* border:dashed 1px #444;*/
padding:0px 0;}
#iframe{text-align:center;}
#titlesH8{text-align:center;font-size:22px;line-height:22px;padding-bottom:10px;font-weight:normal;color:#333;}
#titlesH8 a{text-decoration:none;color:#333;}
.content titlesH8{line-height:36px;}
.col300{float:left;width:300px;overflow:hidden;text-align:center;}
.col300 titlesh9{padding-top:10px;}
.middle{padding:0 30px;}
#featured_member{background:url(/images/featured_members.gif) no-repeat 0 0;height:221px;width:270px;padding:5px 15px 0px 15px;}
#featured_member h9{padding-top:0px;}
.blog-simpleB{padding-top:5px;border-bottom:dotted 1px #ccc;}
.blog-simpleB a{font-weight:bold;font-size:12px;}
.blog-simpleB a:hover{color:#343299;text-decoration:underline;}
#iframe{text-align:center;}
/*------------------ @forms ------------------*/
input.field,
textarea,
select{border:2px solid #bbb;color:#000;padding:4px;font:normal 14px/14px "Verdana",Helvetica,Arial,sans-serif;width:240px;}
fieldset{padding:15px;border:2px solid #bbb;margin-bottom:15px;}
legend{font-size:18px;color:#05554d;font-weight:normal;}
.choice{clear:both;width:100%;overflow:hidden;}
.choice label.nofloat{width:100%;float:none;display:block;text-align:left;}
.choice label.radioWrapper{width:50px;}
input.button,
button.button,
a.button,a.button:hover{background:url(/images/button.gif) no-repeat 0 0;display:block;border:0;color:#fff;width:95px;height:22px;text-align:center;cursor:pointer;float:left;margin-right:2px;font-size:11px;font:bold 11px "Verdana",Helvetica,Arial,sans-serif;text-decoration:none;}
a.button{padding-top:5px;}
/*------------------ @footer ------------------*/
#footer{padding:20px 0 10px 0;width:100%;color:#333;background:url(/images/midsect_darkb.gif) repeat 0 0;}
#footer a{color:#000099;}
#top{background:url(/images/top.gif) no-repeat 0 0;padding-left:20px;float:right;color:#555555;text-decoration:none;}
#footer p{clear:both;padding-top:15px;}
#footer dl{float:left;width:170px;padding:10px;overflow:hidden;height:140px;background:url(/images/midsect_light.gif) repeat 0 0;margin-right:2px;}
#footer dl.alt{}
#footer dt{font-size:15px;padding-bottom:3px;}
#footer dt a{color:#333333;text-decoration:none;font-size:15px;}
#footer dd{color:#333333;text-decoration:none;font-size:8px;padding:3px 4px 0px 0px;line-height:140%;}
#footer dd a{color:#333333;text-decoration:none;font-size:11px;padding:4px 4px 0px 0px;}
#footer dl a:hover{text-decoration:underline;}
#footer p#nonprofit{padding-top:6px;font-size:11px;text-align:center;width:750px;margin:0 auto;}
