body {
	background: white;
	font-size: 12pt;
}

a:link, a:visited {
	color: #520;
	background: transparent;
	font-weight: bold;
	text-decoration: underline;
}

 a:link:after, #content a:visited:after {
	content: " (" attr(href) ") ";
	font-size: 90%;
}

a[href^="/"]:after {
	content: " (http://www.teacherswithoutborders.org" attr(href) ") ";
}

#header,
#landscape,
#nav,
#subnav,
#footer dl {
	display: none;
}

.content {
	width: auto; 
	margin: 0 5%;
	padding: 0; 
	border: 0;
	float: none !important;
	color: black; 
	background: transparent;

}
