/*------------------ reset ------------------*/
body,html { margin:0; padding: 0; width: 100%; }
body,h1,h2,h3,h4,h5,h6,pre,code { font-size: 1em; }
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,legend,
input,button,select,textarea,dl,dd,dt,hr,table,thead,tbody,tfoot,tr,th,td
{ margin:0; padding:0 }
img,a img,:link img,:visited img { border:0;padding:0;margin:0; }
address,cite,caption { font-style: normal }
caption,th { text-align: left }
ol,ul { margin-left: 5px; }
ol { margin-left: 25px }
ul { list-style: none; }

* :focus { outline: 0; }

body,html {
	width: 100%;
	height: 100%;
}
