#splash{margin:10px auto; width:936px; height:621px; background-image:url(../images/splash.jpg)}
#btn1 {height:45px;left:390px;position:relative;top:570px;width:155px;}
#btn1:hover{border:solid 2px #FFF; background-color:#BBB; opacity:0.1; filter: alpha (opacity=10);}
#btn2 {float:left;height:50px;left:760px;position:relative;top:520px;width:60px;}
#btn2:hover{border:solid 2px #FFF; background-color:#BBB; opacity:0.1; filter: alpha (opacity=10);}
#btn3 {float:left;height:50px;left:760px;position:relative;top:520px;width:34px;}
#btn3:hover{border:solid 2px #FFF; background-color:#BBB; opacity:0.1; filter: alpha (opacity=10);}
#btn4 {float:left;height:50px;left:760px;position:relative;top:520px;width:76px;}
#btn4:hover{border:solid 2px #FFF; background-color:#BBB; opacity:0.1; filter: alpha (opacity=10);}
