#splash{margin:10px auto; width:1175px; height:780px; background-image:url(../images/splash1280.jpg)}
#btn1 {left: 490px; top: 715px; height: 60px; width: 195px; position:relative;}
#btn1:hover{border:solid 2px #FFF; background-color:#BBB; opacity:0.1; filter: alpha (opacity=10);}
#btn2 {float:left; left: 961px; top: 655px; height: 55px; width: 68px; position:relative;}
#btn2:hover{border:solid 2px #FFF; background-color:#BBB; opacity:0.1; filter: alpha (opacity=10);}
#btn3 {float:left; left: 962px; top: 655px; height: 55px; width: 45px; position:relative;}
#btn3:hover{border:solid 2px #FFF; background-color:#BBB; opacity:0.1; filter: alpha (opacity=10);}
#btn4 {float:left; left: 963px; top: 655px; height: 55px; width: 92px; position:relative;}
#btn4:hover{border:solid 2px #FFF; background-color:#BBB; opacity:0.1; filter: alpha (opacity=10);}
