ActionMailer::Base.delivery_method = :smtp
ActionMailer::Base.smtp_settings = {
  :address => "mail.luvfoo.com",
  :port => 25,
  :domain => "luvfoo.com",
  :authentication => :login,
  :user_name => "demo@luvfoo.com",
  :password => "sweet"
}

