<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
	  <title>We are currently offline</title>
  </head>
  <body>    
    <div style="width:500px;margin:50px auto;">
      <img src="https://na5.salesforce.com/servlet/servlet.ImageServer?id=01570000000g4my&oid=00D700000008wUh" />
      <div style="border-top-color:#FF9933;border-top-style:solid;border-top-width:6px;">
        <p>Dear Colleagues,</p>
        <p>Teachers Without Borders is improving our website and will be migrating our content over to a new server. The TWB website will be offline on April 15, 2009, from 6pm to 12am Pacific Standard Time.</p>
        <p>We apologize for any inconvenience and encourage you to share feedback about our site when it resumes operations on April 16th.</p>
        <p>Best Regards,</p>
        <p>
          Brandon Waterman<br />
          Webmaster<br />
          Teachers Without Borders<br />
          www.teacherswithoutborders.org
        </p>
      </div>
    </div>
  </body>
</html>