<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
	  <title>We are currently offline</title>
  </head>
  <body>    
    <div style="width:500px;margin:50px auto;">
      <div style="border-top-color:#FF9933;border-top-style:solid;border-top-width:6px;">
        <p>We are currently offline</p>
        <p>We apologize for any inconvenience.</p>
      </div>
    </div>
  </body>
</html>