<div><span id="attendees_for_<%=event.dom_id%>"><%= event.attendees_count || 0 %></span> attendees</div>
<p><%= _('You are attending') %></p>
<% remote_form_for event_user, :url => event_user_path(event_user), :format => 'js', :html => {:method => :delete} do |f| %>
 	<%= f.submit _("I'm Not Attending"), :class=>'button' -%>
<% end %>
