<div id="upload_a_photo">
  <h2><%= _('Upload A Photo') %></h2>
  <% less_form_for [@group, @photo], :html => {:multipart=>true} do |f| %>
  	<%= f.wrap(:image, :label => _('Photo: ')){file_column_field "photo", "image", :size => 15} %>
  	<%= f.text_area :caption, :label => _('Caption') %>	
  	<div class="row button">
    	<%= f.submit _('Upload Photo'), :class=>"button" %>
  	</div>
  <% end %>
  <div class="clear"></div>
</div>