<div id="titlesH9"><%= link_to _('News at TWB'), news_index_path %></div>  
<ul>
  <%= render :partial => 'news/blog_simple', :collection => NewsItem.latest_news_from('contributor', 2) -%>
</ul>
<p><%= link_to _('See More News'), news_index_path %></p>
