<div class="activity_box">
	<h2><%= _('Add News Item') %></h2>
	<% custom_form_for @news_item, :url => admin_news_items_path do |f| -%>
		<%= render :partial => 'news/form', :locals => {:f => f } %>
	<% end %>
</div>