<div class="mceTmpl">
	
	<p>---------- Delete --------------</p>
	<h2>Notes:</h2>
	<ul>
		<li>Be sure to change the linked email address.  By default it is set to 'test@example.com'.  
			To change this value first select the email address you entered to replace 'Team member email'.  Next,
			click on the link icon in the upper right.  In the 'Link Url' field in the popup dialog enter the
			new email address.</li>
		<li>Be sure to link to the team member's profile.  By default the profile is set to example. To
			change this value first select 'View {Team member name}'s Profile'.  (It is fine if you have already replaced
			Team member name with the team member's real name).  Next, click on the link icon in the upper right.  In the 
			popup dialog you will need to once again replace the value in the 'Link Url' field.  This value needs to be
			a link to the team member's profile which is their user name.  For example, if the member's user name is 'fred'
			then the link will be '/profiles/fred'.  Enter that value in Link Url and press Insert.</li>
		<li>If a photo is available of the team member.  Replace the default image with that photo.  To do this first select the existing
			photo.  Next press the image icon in the upper right.  It looks like a tree inside a picture frame.  Upload the new photo using
			the 'Select Images to Upload' button at the top of the popup.  Once the photo is uploaded select it then choose the 'medium' size image.
			After that press 'Insert'.</li>
	</ul>
	<p>---------- End Delete ----------</p>
	
	<div class="people-profile">
		<h1>{Team member name here}, {Team member position}</h1>
		<img src="/images/avatar_default_big.gif" border="0" width="200" /> 
		<a title="profile" href="/profiles/example">View {Team member name}'s Profile</a>
		<p>{Place team member bio here}</p>
		<p><a href="mailto:test@example.com" target="_blank">{Team member email}</a></p>
		<p>{Team member phone number}</p>
	</div>
</div>