<tr>
  <td><%= h permission.user.login %></td>
  <td><a id="permission_<%=permission.id%>" class="permission-delete" href="#" title="<%=_("Delete")%>"><%= image_tag('delete.png', :class => 'png', :width=>'12', :height=>'12') %></td>
</tr>