#splash{margin:10px auto; width:770px; height:481px; background-image:url(../images/splash800.jpg)}
#btn1 {height:48px;left:220px;position:relative;top:143px;width:280px;}
#btn1:hover{border:solid 2px #FFF; background-color:#BBB; opacity:0.1; filter: alpha (opacity=10);}
#btn2 {float:left;height:102px;left:27px;position:relative;top:144px;width:204px;}
#btn2:hover{border:solid 2px #FFF; background-color:#BBB; opacity:0.1; filter: alpha (opacity=10);}
#btn3 {float:left;height:95px;left:52px;position:relative;top:150px;width:204px;}
#btn3:hover{border:solid 2px #FFF; background-color:#BBB; opacity:0.1; filter: alpha (opacity=10);}
#btn4 {float:left;height:102px;left:78px;position:relative;top:144px;width:204px;}
#btn4:hover{border:solid 2px #FFF; background-color:#BBB; opacity:0.1; filter: alpha (opacity=10);}
