<div class="left image-wrapper">
<div class="image-border">
	<div>
	<a href="<%= image_path(photo, nil) %>" class="thickbox" rel="user_gallery"><%= image photo, :small %></a>
	</div>
</div>
<%= photo.caption + '<br/>' if photo.caption.length > 0 %>
<%= link_to _('(delete)'), user_photo_path(photo.photoable, photo), :method => :delete if is_me?(photo.photoable) || @admin == true %>
</div>