<div id="footer">
  <div class="container">
  	<dl class="alt">
  		<dt><a href="/pages/who-we-are">About Us</a></dt>
  		<dd><a href="/pages/where-we-are">Where we work</a></dd>
  		<dd><a href="/pages/what-we-do">What we do</a></dd>
  		<dd><a href="/pages/who-we-are">Who we are</a></dd>
      <dd><a href="/pages/large-scale-projects">Current projects</a></dd>
      <dd><a href="/news">TWB News</a></dd>
      <dd><a href="/pages/contact-us">Contact us</a></dd>
  	</dl>
  	<dl>
  		<dt><a href="/profiles">Global Network</a></dt>
  		<dd><a href="/login">Teachers Network</a></dd>
  		<dd><a href="/groups">Groups</a></dd>
  		<dd><a href="/news">News</a></dd>
  		<dd><a href="/signup">Join</a></dd>
  	</dl>
  	<dl class="alt">
  		<dt><a href="/pages/make-a-difference">How You Can Help</a></dt>
  		<dd><a href="/pages/support-us">Donate</a></dd>
  		<dd><a href="/pages/volunteer-opportunities">Volunteer</a></dd>
  		<dd><a href="/pages/make-a-difference">Participate</a></dd>
  	</dl>
  	<dl>
  		<dt><a href="http://courses.teacherswithoutborders.org/">Courses</a></dt>
  		<dd><a href="http://courses.teacherswithoutborders.org/">Take courses</a></dd>
  		<dd><a href="http://courses.teacherswithoutborders.org/how-to-use-twb-opencourseware">Make Courses</a></dd>
      <dd><a href="http://courses.teacherswithoutborders.org/certificate-teaching-mastery-5-courses">Certificate of Teaching Mastery</a></dd>
  	</dl>
  	<dl class="alt" style="margin-right: 0pt; width: 172px;">
  		<dt><a href="/pages/resources">Resources</a></dt>
  		<dd><a href="/pages/twbfaqs">FAQs</a></dd>
  		<dd><a href="/pages/partnerships">Partners</a></dd>
  		<dd><a href="http://twb-mdg.ushahidi.com/">Visual learning maps</a></dd>
  		<dd><a href="/pages/resources">Links and information</a></dd>
  	</dl>
  	<p id="nonprofit">
  		Teachers Without Borders (TWB) is a 501c3, non-profit, non-denominational, tax-exempt organization<br /> 
  		<a href="/pages/terms">terms and conditions</a> and 
  		<a href="/pages/code_of_conduct">code of conduct</a>.
      <br />©2009 Teachers Without Borders <br />
      <a href="http://creativecommons.org/licenses/by/3.0/"><img src="/images/creative_commons.png" alt="" width="88" height="31" /></a> 
    </p>
  </div>
</div>