<div id="<%= field_name %>-container" class="form-row">
		<%= render :partial => 'forms/base_field', :locals => local_assigns  %>
		<div id="<%= field_name %>-help" class="hidden-tips">
			<%= tip %>
		</div>
</div>