<span class="link-button"><%= link_to _("All Users"), admin_users_path %></span>	
<span class="link-button"><%= link_to _("Inactive Users"), inactive_admin_users_path %></span>
<!--
<span class="link-button"><%= link_to _("Search Users"), search_admin_users_path %></span>
-->