<div>	
	<h1><%= _("Invite Your Friends") %></h1>
	<%= render :partial => 'shared/invite', :locals => {:name => _("Teachers Without Borders"), :url => user_invites_path(@user) } -%>
	<div class="clear"></div>
</div>
