<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
	  <%= render :partial => 'layouts/global/head' %>
  </head>
  <body>
    <div style="width:100%;" id="twbfront">
  	  <div id="site" class="container">
  	    <div id="header2">
  	      <div id="site2" class="container">
			      <%= render :partial => 'layouts/global/header' %>
			      home
        </div>
	    </div>
			<%= yield %>
      <%= render :partial => 'layouts/global/footer' %>
    </div>
  </body>
</html>